# Welcome to our Lab Practice!

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [21]:
def print_message(message,n):
  for i in range(n):
    print(message)

In [22]:
print_message('hi',3)

hi
hi
hi

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [27]:
def print_integers(n,m):
  for i in range(n,m+1):
    print (i)

In [28]:
print_integers(1,5)

1
2
3
4
5

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [60]:
def print_numbers(n,m):
  for i in range (n,m+1):
    sum=0
    sum +=i
  print(sum)

In [61]:
print_numbers(1,5)

5

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [62]:
def print_logic(cond1,cond2):
  print(cond1 and cond2)

In [64]:
print_logic('hi','v')

v

In [65]:
print_logic('v','hi')

hi

###Task: define a function that print if *n* is dividible by *m*, where *n, m* are parameters.

In [67]:
def print_div(n,m):
  if n%m==0:
    print(n,"is dividible by ", m)
  else:
    print(n,"is not dividible by ", m)


print_div(4,2)

4 is dividible by  2

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [71]:
def minimal_num(x,y,z):
  min=x
  if y<min:
    min=y
  if z<min:
    min=z
  print(min)

In [72]:
minimal_num(4,2,3)

2