In [1]:
text1 = "Ethics are built right into ideals  and objectives of the United Nations"

In [2]:
# Counting number of letters
len(text1)

In [3]:
# Counting number if words

text2=text1.split(' ')
len(text2)

13

In [4]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'ideals',
 '',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations']

In [5]:
# Finding specific words that are more than 3 characters long

[w for w in text2 if len(w)> 3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [6]:
# Finding Capitalized words
[ w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [7]:
# Finding words that ends with S

[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [8]:
# Finding unique words using set

text3 = 'To be or not to be'
text4 = text3.split(' ')
len(text4)

6

In [9]:
len(set(text4))

5

In [10]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [11]:
# counting all words to lower case
len(set([w.lower() for w in text4]))

4

Word comparison functions
s.startswith(t), s.endswith(t), t in s, sisupper() , sislower(),sistitle(),sialpha(), sisdigit(),s.isalnum()

String operations : s.lower(), s.upper(), s.titlecase(), s.split(t),s.splitlines(), s.join(),s.strip(),s.rstrip(),s.find(t),s.rfind(t),s.replace(u,v)

In [12]:
# From words to characters

text5= 'ouaduaougaou'
text6=text5.split('ou')
text6

['', 'adua', 'ga', '']

In [13]:
('ou').join(text6)

'ouaduaougaou'

In [14]:
text5.split('')

ValueError: empty separator

In [15]:
list(text5)

['o', 'u', 'a', 'd', 'u', 'a', 'o', 'u', 'g', 'a', 'o', 'u']

In [16]:
# Cleaning Text

text8= '   A quick brown fox jumped over the lazy dog.'

In [17]:
text8.split(' ')

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.']

In [18]:
text9= text8.strip()

In [19]:
text9

'A quick brown fox jumped over the lazy dog.'

In [20]:
# Find and replace
text9.find('o')

10

In [21]:
text9.rfind('o')

40

In [22]:
text9.replace('o','O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [23]:
# Reading files line by line
f=open('UNDHR.txt','r')

In [24]:
f.readline()

'Universal declaration of Human Rights\n'

In [25]:
# Reading the full file
f.seek(0)

0

In [26]:
text12=f.read()

In [27]:
len(text12)

58

In [28]:
text13=text12.splitlines()

In [29]:
len(text13)

3

In [30]:
text13[2]

'Always, time fliess'

File operations -  f=open(filename, mode); f.readline();f.read(),f.read(n)

for line in f: doSomething(line)

f.seek(n)

f.write(message)

f.close()

In [31]:
# Issues with reading files
f=open('UNDHR.txt','r')
text14=f.readline()

In [32]:
text14

'Universal declaration of Human Rights\n'

In [33]:
text14.rstrip()

'Universal declaration of Human Rights'

### Processing Free Text

In [34]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @UN @UNWomen NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@UN',
 '@UNWomen',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [35]:
# Finding Hash Tags
[w for w in text6 if w.startswith('#')]

['#UNSG']

In [36]:
# Finding Call Outs
[ w for w in text6 if w.startswith('@')]

['@UN', '@UNWomen']

In [37]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

text8= text7.split(' ')

We can use regular expressions to help us with more complex parsing.

For example '@[A-Za-z0-9_]+' will return all words that:

start with '@' and are followed by at least one:
capital letter ('A-Z')
lowercase letter ('a-z')
number ('0-9')
or underscore ('_')

In [38]:
text10='@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

In [39]:
text11=text10.split(' ')

In [40]:
# import re - a module that provides support for regular expressions
import re

[w for w in text11 if re.search('@[A-Za-z0-9_]+',w)]

# + signifies repetitive pattern of the characters falling before

['@UN', '@UN_Women']

### Meta Characters

. : wildcard that matches a character ; ^ start of a character ; $ end of a string ; [] matches on of the characters within the square brackets ; [a-z] matches the range of characters; [^abc ] matches the characters that is not abc;    a|b matches either a or b when a and b are strings

### Meta-characters :character symbols

\b Matches word boundary ; \d  Any digit between [0-9] ; \D Any non-digit between [^0-9] ; \s any whitespace equivalent to [ \t\m\u\r]; \S any non-white space equivalent to [^\t\m\u\r] ; \w any alphanumeric character equivalent to [a-zA-Z0-9_] ; \W any non-alphanumeric character equivalent to [^a-zA-Z0-9_]

### Meta-characters :Repetitions

*(star) : Matches zero or more occurences ; + Matches one or more occurences ; ? Matches zero or one occurences ;{n} exactly n number of repetitions where n > =0; {n,} atleast n repetitions ; {,n} atmost n repetitions ;{m,n} atleast m and atmost n repetitions

In [41]:
text10='@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

text11 = text10.split(' ')

In [42]:
[ w for w in text11 if re.search('@[a-zA-Z0-9_]+', w)]

['@UN', '@UN_Women']

In [43]:
[ w for w in text11 if re.search('@\w+',w)]

['@UN', '@UN_Women']

### Finding specific characters

In [44]:
text12 = 'ouagadougou'

In [45]:
re.findall(r'[aeiuo]',text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [46]:
re.findall(r'[^aeiou]',text12)

['g', 'd', 'g']

### Regular expressions for dates

Date variations for 23rd October 2002;  23-10-2002 , 23/10/2002 , 23/10/02 , 10/23/2002 , 23 Oct 2002 ,               23 October 2002, Oct 23, 2002 , October 23, 2002                                                                      \d{2}[/-]\d{2}[/-]\d{4}

In [47]:
datestrng='23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n'

In [48]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}',datestrng)

['23-10-2002', '23/10/2002', '10/23/2002']

In [49]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}',datestrng)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [50]:
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}',datestrng)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [72]:
# The output is not working

re.findall(r'\d{2}(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\d{4}',datestrng)

[]

In [55]:
# The output is not working

re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\d{4}',datestrng)

[]

In [56]:
# The output is not working

re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\d{4}',datestrng)

[]

In [59]:
# The output is not working

re.findall(r'(?:\d{2})? (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\d{4}',datestrng)

[]

In [61]:
# The output is not working

re.findall(r'(?:\d{1,2})? (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:\d{1,2},)?\d{4}',datestrng)

[]

### Regex with Pandas and Named Groups

In [62]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

In [63]:
df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [64]:
#Finding the total number of characters

df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [67]:
#Finding the total number of words

df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [68]:
# Checking whether the text contains a word

df['text'].str.contains("appointment")

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [70]:
# finding how many times a digit occurs in each string

df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [71]:
# find all occurances of the digits

df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [74]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [76]:
# replace weekdays with '???'

df['text'].str.replace(r'\w+day\b','???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [78]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [90]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [91]:
# extract the entire time, the hours, the minutes, and the period

df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [92]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [2]:
text1= "résumé"
len(text1)

6

In [3]:
[c for c in text1]

['r', 'é', 's', 'u', 'm', 'é']

In [7]:
native_name='संध्या'

len(native_name)

6

In [8]:
[s for s in native_name]

['स', 'ं', 'ध', '्', 'य', 'ा']

In [9]:
english_name='Sandhya'
len(english_name)

7

In [10]:
[s for s in english_name]

['S', 'a', 'n', 'd', 'h', 'y', 'a']

In [11]:
print(native_name, '\n', english_name)

संध्या
 Sandhya